version: "3.9"

services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    networks:
      wgnet:
        ipv4_address: 10.66.0.50
    volumes:
      - ./mounts/wireguard:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    profiles: ["vpn"]
  bitcoin:
    build: ./services/bitcoin
    depends_on:
      - wireguard
    cap_add:
      - NET_ADMIN
    environment:
      - INSTALL_VPN=true
    networks:
      wgnet:
        ipv4_address: 10.66.0.2
    volumes:
      - ./mounts/bitcoin:/data
    profiles: ["bitcoin"]
#  lightning:
#    build: ./services/lightning
#    depends_on:
#      - wireguard
#    networks:
#      wgnet:
#        ipv4_address: 10.0.0.4
#    volumes:
#      - /data:/mounts/lightning
#    profiles: ["lightning"]
  monero:
    build: ./services/monero
    depends_on:
      - wireguard
    networks:
      wgnet:
        ipv4_address: 10.66.0.4
    volumes:
      - ./mounts/monero:/data
    profiles: ["monero"]

networks:
  wgnet:
    ipam:
      driver: default
      config:
        - subnet: 10.66.0.0/24
