version: "3.9"

services:
  bitcoin:
    build: ./services/bitcoin
    volumes:
      - ./mounts/bitcoin:/data
    profiles: ["bitcoin"]
#  lightning:
#    build: ./services/lightning
#    ports:
#      - 8735:9735
#    volumes:
#      - /data:/mounts/lightning
#    profiles: ["lightning"]
  monero:
    build: ./services/monero
    volumes:
      - ./mounts/monero:/data
    profiles: ["monero"]
