version: "3.9"

services:
  bitcoin:
    build: ./services/bitcoin
    ports:
      # P2P port
      - 8333:8333
      # RPC port
      #- 8332:8332
    environment:
      # ADJUST: Passed on to `bitcoind`. Adjust according to your needs.
      - CLI_ARGS=-datadir=/data -port=8333 -prune=1024
    volumes:
      - ./mounts/bitcoin:/data
    profiles: ["bitcoin"]
  monero:
    build: ./services/monero
    ports:
      # P2P port
      - 18080:18080
      # RPC port
      #- 18081:18081
    environment:
      # ADJUST: Passed on to `monerod`. Adjust according to your needs.
      - CLI_ARGS=--non-interactive --data-dir=/data --p2p-bind-port=18080 --p2p-external-port=18080
    volumes:
      - ./mounts/monero:/data
    profiles: ["monero"]
